<div class="container">
  <h2>Products List</h2>
  
  <input [(ngModel)]="searchTerm"
         placeholder="Search by product..."
         class="search-input">

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Product</th>
        <th>Status</th>
        <th style="text-align: center;">Action</th>
      </tr>
    </thead>
    <tbody>
      @for(product of filteredProducts; track product.id){
      <tr>
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.status}}</td>
        <td style="text-align: center;">
          <a [routerLink]="['/prodManagement/view-details', product.id, 'details']" 
             class="btn-view" 
             (click)="getProduct(product)">
             View Details
          </a>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
